 .sessão5{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 150px;
}

video{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 2;
    z-index: -1;
}

.redes{
    width: 800px;
    height: 650px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

.redes .caixona1{
    width: 800px;
    height: 300px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;


}

.redes .caixona2{
    width: 800px;
    height: 300px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;


}

.caixas{
    width: 350px;
    height: 250px;
    background: linear-gradient(180deg, #0c0557 0%, #580477 100%);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
     
}

.caixas h6{
    font-size: 25px;
    color: rgb(231, 246, 255);
    font-family: 'Myanmar';
    text-align: center;

}

.redes .caixas:hover{
    background: rgb(24, 0, 54);
}

.img2{
    width: 500px;
    height: 650px;
    background-image: url(./img/img3.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.fundo2{
    width: 97%;
    height: 650px;
    background: linear-gradient(180deg, rgba(70, 0, 96, 0.7) 0%, rgba(0, 17, 105, 0.31) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}


@media (min-width: 320px) and (max-width: 480px){


    .sessão5{
        width: 100%;
        margin-top: 30px;
    }
    
    video{
        display: none;
    }

    .redes{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .caixona{
        width: 90%;
    }

     .caixas a{
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .redes .caixona1{
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-direction:column;
        align-items: center;
    }

    .redes .caixona2{
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-direction:column;
        align-items: center;
    }

    .caixas{
        width: 300px;
        margin-top: 20px;
    }

    .caixas h6{
        display: none;
    }


    .img2{
        display: none;
    }
}